<div id="box"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
  var gitment = new Gitment({
    owner: 'killerlei',
    repo: 'killerlei.github.io',
    oauth: {
      client_id: 'c34b23dc27e011324c66',
      client_secret: 'd30d73ef59285be1fe6ea6a5b6f015387de6aaef'
    }
  })
  gitment.render('box')
</script>
